.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------------------------------- */
/* HEADER */
.navigation{
  margin-left: 130px;
  margin-right: 130px;
  font-size: xx-large;
  padding: 15px;
}
.header{
  background-color:palegreen;
  height: 60px;
}
.link{
  text-decoration: none;
  color: black;
}
/* PAGE.js AUTHOR.js Tags.js  *//* POST.js */ 
.posttotalBox{
  border: 1px solid black;
  width:300px;
  height: 100px;
  padding-top: 10px;
  text-align: center;
  margin-left: 50px;
  font-size: x-large;
  margin-top: 30px;
  font-weight: bolder;
}

/* DASHBORD */
.allbox{
  display: flex;
  flex-wrap: wrap;
}
/* TOP FIVE POST */
.image-design{
  width: 300px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;

}
.heading{
  text-decoration: underline brown;
}
.topPosts{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  
}


/* CHART */
.chrt{
  width: 800px;
  height: 50px;
  position: absolute;
  left: 700px;
  top: 280px;

}

/* POST_LIST_PAGES */
.pagebox{
  display: flex;
  flex-wrap: wrap;
}
.listpostBox{
  border: 1px solid black;
  width: 600px;
  margin: 30px;
  margin-left: 100px;
  text-align: left;

}
.headingBox{
  font-size: xx-large;
  margin-top: 0px;
  text-decoration: underline lightblue;
  text-align: center;
  margin-top: 20px;
}
.postlistImage{
  width: 90%;
  margin-left: 20px;
}
.titleline{
  margin-top: 0px;
  text-align: center;
}



.listpostBox2{
  border: 1px solid red;
  width: 720px;
  /* height: 60px; */
  margin-left: 100px;
}
.listpostBox3{
  border: 1px solid yellow;
  width: 320px;
  height: 60px;
}
.image{
  width: 100px;
}
.htmlword{
  display: none;
}


/* PAGELISTPAGE */
.hideit{
  display: none;
}
.headingpagrs{
  margin-left: 10px;
  font-size: x-small;

}
.pagelsipage{
  display: flex;
  flex-wrap: wrap;
}
.linkingbox{
  border: 1px solid black;
  width: 500px;
  font-size: xx-large;
  margin: 10px;
}
.anotherbox{
  border: 1px solid black;
  width: 300px;
  height: 100px;
  margin-top: 70px;
  font-size: x-large;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}
.linkingbox2{
  border: 1px solid black;
  width: 650px;
  font-size: xx-large;
  margin: 10px;
  text-align: center;
}
.headingpagrs2{
  margin-left: 10px;
  font-size: small;
  text-align: left;
}